In [2]:
import psycopg

In [51]:
#  history | grep docker | grep run
DB_CONFIG = {
    "user": "sunsin",
    "dbname": "sunsindb",
    "password": "mysecretpassword",
    "host": "localhost",
    "port": "5432"
}

In [52]:
psycopg.connect(**DB_CONFIG)

In [41]:
psycopg.connect(dbname="sunsindb", 
                user="sunsin", 
                password="mysecretpassword",
                host="localhost",
                port="5432)

In [42]:
def get_connection():
    return psycopg.connect(**DB_CONFIG)

In [43]:
conn = get_connection()

In [44]:
cursor = conn.cursor()

In [45]:
cursor.execute(
    "INSERT INTO lunch_menu (menu_name, member_name, dt) VALUES (%s, %s, %s);",
    ('테스트음식', '테스트맴버','2000-11-11')
)

In [75]:
conn.commit()

In [40]:
cursor.close()

# 디비 조회

In [54]:
conn = get_connection()

In [55]:
cursor = conn.cursor()

In [92]:
cursor.execute("SELECT menu_name, member_name, dt FROM lunch_menu ORDER BY dt DESC")

In [93]:
rows = cursor.fetchall()

In [94]:
type(rows)

list

In [95]:
rows

[('테스트음식', '테스트맴버', datetime.date(2000, 11, 11)),
 ('테스트음식', '테스트맴버', datetime.date(2000, 11, 11)),
 ('테스트음식', '테스트맴버', datetime.date(2000, 11, 11)),
 ('테스트음식', '테스트맴버', datetime.date(2000, 11, 11)),
 ('테스트음식', '테스트맴버', datetime.date(2000, 11, 11))]

In [96]:
columns_desc = cursor.description

In [97]:
type(columns_desc)

list

In [98]:
columns_desc[0]

In [99]:
columns_desc[0][0]

'menu_name'

In [100]:
# columns = [desc[0] for desc in cursor.description]

columns = []
for desc in cursor.description:
    columns.append(desc[0])

In [101]:
columns

['menu_name', 'member_name', 'dt']

In [102]:
for desc in cursor.description:
    print(desc[0])

menu_name
member_name
dt

In [103]:
import pandas as pd
selected_df = pd.DataFrame(rows, columns=columns)

In [104]:
selected_df

  menu_name member_name          dt
0     테스트음식       테스트맴버  2000-11-11
1     테스트음식       테스트맴버  2000-11-11
2     테스트음식       테스트맴버  2000-11-11
3     테스트음식       테스트맴버  2000-11-11
4     테스트음식       테스트맴버  2000-11-11